@font-face {
    font-family: 'icon-worksregular';
    src: url('assets/icon-works/icon-works-webfont.eot');
    src: url('assets/icon-works/icon-works-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/icon-works/icon-works-webfont.woff') format('woff'),
         url('assets/icon-works/icon-works-webfont.ttf') format('truetype'),
         url('assets/icon-works/icon-works-webfont.svg#icon-worksregular') format('svg');
    font-weight: normal;
    font-style: normal;

}