@import "icons.scss";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.icw {
  font-style: normal;
  &:before {
    content: attr(data-icon);
    font-family:'icon-worksregular';
  }
}
html {
  position: relative;
  min-height: 100%; }

body {
  overflow-x: hidden;
  background: #f6f9fa;
  font-size: 13px;
  color: #7d7d8e;
}
h1 {
  font-size: 17px;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  padding: 0;
  background: #fff;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
  z-index: 5;
  .navbar-brand {
    width:175px;
    background: #f1595c;
    height: 45px;
    padding: 3px 0 0 5px;
  }
  .nav-right {
    padding-right: 15px;
    i {
      font-style: inherit;
      margin: 0 5px;
      font-size: 15px;
    }
  }
}

.sidebar {
  position: fixed;
  top: 45px;
  left: 0;
  width:175px;
  height: calc(100vh - 45px);
  background:#fff;
  border-right:1px solid rgba(0,0,0,0.1);
  z-index: 1;
  .sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 10px 0 0 0;
    .nav-item {
      margin: 0;
      padding: 0;
      a {
        font-size: 13px;
        color: #f0595b;
        padding: 5px 10px 8px;
        &::before {
          font-size: 18px;
          width: 18px;
          height: 18px;
          display: inline-block;
        }
        &:hover {
          color: #fff;
          background: #7d7d8e;
        }
      }
    }
  }
}
.content-wrapper {
  margin-top: 55px;
  margin-left: 175px;
}
.card {
  border: 1px solid #f1f1f1;
  margin-bottom: 15px;
  .card-header {
    background: #fff;
    border-bottom: 1px solid #f1f1f1;
    h2 {
      font-size: 13px;
      font-weight: 700;
      margin: 0;
    }
    .card-actions {
      margin: -3px 0 -3px 0;
      button {
        border: 1px solid transparent;
        padding: 2px 5px;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
}
