<div>
  <h2 mat-dialog-title> Add New Paper</h2>
  <hr>
  <mat-dialog-content>
    <div class="card">
      <div class="card-header"> Subject</div>
      <div class="form-group">
        <div class="form-row">
          <div class="col-md-3">
            <label for="subject">Subject :</label>
          </div>
          <div class="col-md-9">
            <select [(ngModel)]="subjectCode" (change)="changeSubject()" name="subject" id="subject" class="form-control">
              <option *ngFor="let paper of papers" value={{paper.subjectCode}}>
                {{paper.description}}
              </option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button  > Save</button>
  </mat-dialog-actions>
</div>
