<div class="card">
  <div class="card-header">
    <div class="card-actions float-right">
      <button class="btn btn-default" (click)="openAddUser()">+ Add new</button>
    </div>
    <h2>Users List</h2>
  </div>
  <div class="">
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
          <button class="btn btn-primary btn-sm"><i class="icw" data-icon="&#81;"></i></button>
          <button class="btn btn-sm btn-danger"><i class="icw" data-icon="&#111;"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
