<div class="card">
  <div class="card-header">
    <div class="card-actions float-right">
      <button class="btn btn-default" (click)="openAddPaper()">+ Add new</button>
    </div>
    <h2>Paper list</h2>
  </div>
  <div class="">
    <table class="table table-striped table-hover table-sm">
      <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Status</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let paper of paperList">
        <th scope="row">1</th>
        <td>{{paper.description}}</td>
        <td>{{paper.paperStatusDescription}}</td>
        <td>
          <button class="btn btn-primary btn-sm" (click)="clickPaper(paper)"><i class="icw" data-icon="&#81;"></i></button>
          <button class="btn btn-sm btn-danger"><i class="icw" data-icon="&#111;"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--<div class="card">-->
  <!--<div class="card-header"> </div>-->
  <!--<div class="card">-->
    <!--<div>-->

      <!--<div class="card" *ngFor="let paper of paperList" >-->
        <!--<a (click)="clickPaper(paper)">{{paper.description}} ({{paper.paperStatusDescription}})</a>-->
        <!--<div class="card" *ngIf="paper.showAnswers">-->
          <!--<div class="card" >-->
              <!--<div *ngFor="let answer of paper.answerList" >-->
                <!--<div>{{answer.description}}</div>-->
                <!--<div>{{answer.choise1}}</div>-->
              <!--</div>-->
          <!--</div>-->
          <!--<div *ngIf="paper.paperStatus == 3 || paper.paperStatus == 6">-->
            <!--<button (click)="clickReview(paper.paperId)">Confirm</button>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->


  <div class="form-group" *ngIf="isChangeSubject">
    <div class="form-row">
      <div class="col-md-3">
        <label >Description :</label>
      </div>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="description" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3">
        <label >Duration :</label>
      </div>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="paperDuration" class="form-control">
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3">
        <button (click)="clickAddAnswers()" *ngIf="!showAnswers" class="btn btn-primary btn-block">Add Answers</button>
      </div>
    </div>

  </div>

<br>
<div class="card" *ngIf="showAnswers">
  <div class="card-header"> Questions </div>
  <div class="form-group" *ngFor="let answer of answers;let i = index">
    <div class="form-row">
      <div class="col-md-3">
        <label for="section">Section :</label>
      </div>
      <div class="col-md-9">
        <select [(ngModel)]="answer.sectionCode" id="section" class="form-control" (change)="changeSection(answer)">
          <option *ngFor="let section of sections" value={{section.sectionCode}}>
            {{section.description}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3">
        <label for="module">Module :</label>
      </div>
      <div class="col-md-9">
        <select [(ngModel)]="answer.subsectionCode" id="module" class="form-control" >
          <option *ngFor="let subsection of subsections" value={{subsection.subsectionCode}}>
            {{subsection.description}}
          </option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3">
        <label for="subject"> Question :</label>
      </div>
      <div class="col-md-9">
        <app-tiny-mce [elementId]="'my-editor-id-'+i" [(ngModel)]="answer.question" ngDefaultControl></app-tiny-mce>

      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3">
        <label for="subject"> Description :</label>
      </div>
      <div class="col-md-9">
        <textarea  [(ngModel)]="answer.description" class="form-control"></textarea>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3">
        <label for="subject">Answer 1 :</label>
      </div>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="answer.choise1" class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3">
        <label for="subject">Answer 2 :</label>
      </div>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="answer.choise2" class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3">
        <label for="subject">Answer 3 :</label>
      </div>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="answer.choise3" class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3">
        <label for="subject">Answer 4 :</label>
      </div>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="answer.choise4" class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3">
        <label for="subject">Answer 5 :</label>
      </div>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="answer.choise5" class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3">
        <label for="subject">Answer :</label>
      </div>
      <div class="col-md-9">
        <input type="text" [(ngModel)]="answer.correctAnswer" class="form-control">
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-3">
        <label for="subject">Image :</label>
      </div>
      <div class="col-md-9">
        <input type="file" [(ngModel)]="answer.image" class="form-control" #fileInput (change)="upload()">
      </div>
    </div>

    <div class="form-row" *ngIf="!answer.isSaved">
      <div class="col-md-3">
        <button (click)="addAnswer(i)" class="btn btn-primary btn-block">+</button>
      </div>
    </div>

  </div>
  <div class="form-row" >
    <div class="col-md-3">
      <button (click)="savePaper()" class="btn btn-primary btn-block">Save</button>
    </div>
  </div>
</div>

