<nav class="navbar" id="mainNav">
  <a class="navbar-brand" href="/"><img src="assets/images/logo.png"></a>
  <div class="nav-right float-right"><i class="icw" data-icon="&#74;"></i><i class="icw" data-icon="&#224;"></i></div>
</nav>
<div class="sidebar" id="navbarResponsive">
    <ul class="sidebar-nav" id="exampleAccordion">
      <li class="nav-item" data-toggle="tooltip" data-placement="right" >
        <a class="nav-link icw" data-icon="&#199;" [routerLink]="['/']" routerLinkActive="active"> Dashboard </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" >
        <a class="nav-link icw" data-icon="&#97;" [routerLink]="['/paper']" routerLinkActive="active"> Papers </a>
      </li>
      <li class="nav-item" data-toggle="tooltip" data-placement="right" >
        <a class="nav-link icw" data-icon="&#97;" [routerLink]="['/users']" routerLinkActive="active"> Users </a>
      </li>
    </ul>
  </div>
