<div>
  <h2 mat-dialog-title> Add New User</h2>
  <hr>
  <mat-dialog-content>
	<div class="row">
		<div class="form-group col-md-6">
			<label>First Name</label>
			<input class="form-control" type="text" [(ngModel)]="firstName">
		</div>
		<div class="form-group col-md-6">
			<label>Last Name</label>
			<input class="form-control" type="text" [(ngModel)]="lastName">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-4">
			<label>UserName</label>
			<input class="form-control" type="text" [(ngModel)]="userName">
		</div>
		<div class="form-group col-md-8">
			<label>Email</label>
			<input class="form-control" type="email" [(ngModel)]="email">
		</div>
		
	</div>
	<div class="row">
		<div class="form-group col-md-6">
			<label>Password</label>
			<input class="form-control" type="password" [(ngModel)]="password" >
		</div>
		<div class="form-group col-md-6">
			<label>Confirm Password</label>
			<input class="form-control" type="password">
		</div>
	</div>
	<div class="row">
		<div class="form-group col-md-6">
			<label>Phone</label>
			<input class="form-control" type="text">
		</div>
		<div class="form-group col-md-6">
			<label>Mobile</label>
			<input class="form-control" type="text" [(ngModel)]="mobile">
		</div>
	</div>
	
	
	

  </mat-dialog-content>
  <mat-dialog-actions>
    <button class="btn btn-primary" (click)="clickSave()"> Save</button>
  </mat-dialog-actions>
</div>
